body {
  background-color: grey;
  margin: 0px;
}

.skew-row {
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 200px;
}

div.skew-row .left {
  display: inline-block;
  width: 50%;
  height: inherit;
  float: left;
}

div.skew-row .right {
  display: inline-block;
  background-color: white;
  width: 50%;
  height: inherit;
  float: right;
}

.skew-wrapper {
  -webkit-transform: skewX(200deg);
  -moz-transform: skewX(200deg);
  -o-transform: skewX(200deg);
  -ms-transform: skewX(200deg);
  transform: skewX(200deg);
  border-left: 1px solid slateblue;
  background-color: slateblue;
  margin-left: -100%;
  padding-left: 100%;
  height: inherit;
}

.skew-wrapper .skew-content {
  -webkit-transform: skewX(-200deg);
  -moz-transform: skewX(-200deg);
  -o-transform: skewX(-200deg);
  -ms-transform: skewX(-200deg);
  transform: skewX(-200deg);
}

.skew-content {
  padding: 10px calc(200px / 5.49);
}
